@model Gertslager.Models.Hall

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cooling" /> @Html.DisplayNameFor(model => model.Cooling)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Nummer" class="control-label"></label>
                <input asp-for="Nummer" class="form-control" />
                <span asp-validation-for="Nummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antal_rækker" class="control-label"></label>
                <input asp-for="Antal_rækker" class="form-control" />
                <span asp-validation-for="Antal_rækker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivelse" class="control-label"></label>
                <input asp-for="Beskrivelse" class="form-control" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
